include LICENSE
include README.md
prune examples
prune html
prune test
exclude .flake8
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .travis.yml
exclude index.html
exclude RELEASING.md
exclude tox.ini
